@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Regular.ttf') format('truetype'),	
	url('../fonts/FiraSans-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Fira Sans Thin';
	src: url('../fonts/FiraSans-Thin.ttf') format('truetype'),	
	url('../fonts/FiraSans-Thin.otf') format('opentype');
}
