@media (min-width: 768px) {
	.photoshop {
		display: block;
	}
	.about-text h2 {
		font-size: 35px;
	}
	.about-text p {
		font-size: 20px;
	}

	.skills h2 {
		font-size: 50px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.item {
		font-size: 75px;
		margin-bottom: 0;
	}

	.folio  h2 {
		font-size: 50px;
	}
}

@media (max-width: 767px) {
	.col-s-12 {
		width: 50%;
	}

	.col-xs-6 {
		width: 33%;
	}

	.photoshop {
		display: block;
	}
	.col-s-6 {
		width: 33%;
	}
	.foto img  {
		width: 50%;
	}
	.about-text h2 {
		font-size: 25px;
	}
	.about-text p {
		font-size: 15px;
	}
	.skills h2 {
		font-size: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.item {
		font-size: 40px;
		margin-bottom: 0;
	}

	.folio  h2 {
		font-size: 30px;
	}

	.contact h2 {
		font-size: 40px;
	}

	.contact p {
		font-size: 20px;
	}

}

